/* CSS styles for Help and TicketCard files */
.help-page {
    background-color: #ecf3f8;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.help-header {
    height: fit-content;
}

.help-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 1rem;
    gap: 2rem;
    background-color: #ecf3f8;
    margin: 40px;
}

.help-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.help-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.help-cards {
    flex-grow: 1;
    background-color: #ecf3f8;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 40px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 30px;
    gap: 20px;
}

.card-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.help-create-btn {
    background-color: #E4813A;
    border: none;
    border-radius: 0.5rem;
    color: white;
    width: 140px;
}

.card {
    cursor: pointer;
    width: 20rem;
    height: 15rem;
    text-align: center;
}

.help-filter-add {
    display: flex;
    flex-direction: column;
}

.dropdown-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-item {
    display: flex;
    margin-bottom: 8px;
    flex-grow: 1; 
}

.dropdown-item input {
    margin-right: 5px;
    margin-left:0px;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .card {
        max-width: 16rem;
        font-size: 15px;
    }

    .card-btns {
        max-height: 2rem;
        gap: 2px;
        font-size: 10px;
    }

    .help-title {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .dropdown-item {
        font-size: 15px;
    }
}

.modal-title {
    max-width: 80%;
    height: max-content;
    overflow-wrap: break-word;
}


.card-text > h5{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}