.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d5ba6; /* Blue background */
    padding: 0 20px;
    height: 60px;
  }
  
  .logo h1 {
    color: white;
    margin: 0;
    font-size: 24px;
    text-decoration: none;
  }

  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav ul li {
    margin: 0 15px;
  }
  
  .nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav ul li a:hover {
    text-decoration: underline;
  }
  
  .nav ul li a.active {
    text-decoration: underline; 
  }

  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 45px;
    height: 40px;
    border-radius: 50%;
  }
  